
# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*

.byebug_history
.env
.vscode

# Ignore misc local scratch files such as SQL quries and etc.
/_local_files/

# Ignore master key for decrypting credentials and more.
/config/master.key